# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/angular_spring.txt
/log.txt
/log.txt.2021-01-03.0.gz
/log.txt.2021-01-04.0.gz
/log.txt.2021-01-05.0.gz
/log.txt.2021-01-09.0.gz
/log.txt.2021-01-11.0.gz
